<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Error</title>
</head>
<body >
<div >

    <h1 >Sorry</h1><p th:text=$"{errorMessage}"></p>
    <button type="submit" onclick="window.location.href='/'">Back</button>
    <p>&copy;CSYE6225</p>
</div>
</body>
</html>