<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    
    <title>Index</title>
</head>
<body >
    <div >
      
        <h1 >Welcome!</h1>
        <h1>latest Final Presentation</h1>
        <form action="/user/showprofile" method="GET">
            <input type="text" id="username" name="username" placeholder="search profile"/>
            <button type="submit" onclick="window.location.href='/user/showprofile'">Search</button>
        </form>
        <button type="submit" onclick="window.location.href='/user/signin'">Sign in</button>
        <button type="submit" onclick="window.location.href='/user/signup'">Sign up</button>
        <p>CSYE6225</p>
    </div>
</body>
</html>