<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"/>
<head>

</head>

<body>


<div th:replace="fragments/navigation :: navigation"/>


<!-- Page Content -->
<div class="container">
            <p>
                Welcome to CSYE 6225 Spring 2018 Semester!!!
            </p>


    <a href="/user/logout">Logout</a>
    <p>current time:</p><div id="time">
    <script>document.getElementById('time').innerHTML=new Date().toLocaleString()+new Date().getDay();setInterval("document.getElementById('time').innerHTML=new Date().toLocaleString()+new Date().getDay();",1000);</script>
</div>

    <input class="form-control" type="text" id="profile" name="profile" readonly="readonly" value=${aboutme}>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>


